[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = rasheemg
	email = 93060074+rasheemg@users.noreply.github.com
